export(ardi,averagetable,barrow,boot,boxprod,calculate.average,carto,cartoconsumer,coltable,construct.axes,cpa,decat,fahst,fasnt,fast,fcp,graphinter,histprod,hsortplot,indscal,interact,magicsort,nappeplot,nappesortplot,optimaldesign,paneliperf,panellipse,panellipse.session,panelmatch,panelperf,plot.fasnt,plot.fahst,plot.fast,plotellipse,plotellipseinter,plotellipseinterhmfa,plotpanelist,pmfa,print.fahst,print.fasnt,print.fast,scalebypanelist,search.desc,simulation,triangle.design,triangle.pair.test,triangle.test)
