export(ardi,averagetable,barrow,boxprod,calculate.average,carto,coltable,construct.axes,cpa,decat,fast,graphinter,histprod,indscal,interact,magicsort,nappeplot,optimaldesign,paneliperf,panellipse,panellipse.session,panelmatch,panelperf,plot.fast,plotellipse,plotellipseinter,plotellipseinterhmfa,plotpanelist,pmfa,print.fast,scalebypanelist,search.desc,simulation,triangle.design,triangle.pair.test,triangle.test)
