export(afmult,ardi,averagetable,barrow,boxprod,calculate.average,carto,coltable,construct.axes,cpa,decat,gpa,graphinter,histprod,hmfa,indscal,interact,magicsort,mfasenso,nappeplot,paneliperf,panellipse,panellipse.session,panelmatch,panelperf,pca,plotellipse,plotellipseinter,plotellipseinterhmfa,plotpanelist,pmfa,prefpls,scalebypanelist,search.desc.ktab,search.desc,senso.arrow,senso.corcircle,senso.label,senso.scatterutil.eti.circ,senso.scatterutil.eti,simulation)
